<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <link rel='stylesheet' href='styles.css'>
        <title>Best Restaurants in Town</title>

    </head>
    <body>
        <video autoplay loop muted id="bgvid">
            <source src="dog.mp4" type="video/mp4">
            <source src="/../../dog.mp4" type="video/mp4">
        </video>
        <div class='container home'>
            <h1>Welcome!</h1>
            <p>Create a list of your favorite restaurants</p>

            <p>Add a type of cuisine:</p>

            <form action="/cuisines" method="post">
                <label for="name">Cuisine:</label>
                <input id="name" name="name" type="text" class='form-control'>
                <br>
                <button type="submit" class="btn btn-xs btn-info">Add</button>
            </form>

            {% if cuisines is not empty %}
                <p>Here are your cuisines:</p>
                <ul>
                    {% for cuisine in cuisines %}
                        <li>
                            <a href="/cuisines/{{ cuisine.getId }}">{{ cuisine.getName }}</a>

                            <ul class="list-unstyled list-inline">
                                <li>
                                    <form action="/cuisines/{{ cuisine.getId }}/edit">
                                        <button type="submit" class="btn btn-xs btn-info">Update</button>
                                    </form>
                                </li>
                                <li>
                                    <form action="/cuisines/{{ cuisine.getId }}/delete" method="post">
                                        <input name="_method" type="hidden" value="delete">

                                        <button type="submit" class="btn btn-xs btn-danger">Delete</button>
                                    </form>
                                </li>
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
                {% else %}
                    <p>You haven't added any cuisines yet!</p>
            {% endif %}

            <form action="/delete_cuisines" method="post">
                <button type="submit">Clear</button>
            </form>
        </div>
    </body>
</html>
